<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Groupie Tracker</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>

        <div class="search-container">
            <div class="search-box">
                <img src="../static/images/search-icon.png" alt="icon-search" class="icon-search">
                <input type="text" placeholder="Search here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search here'">
                <img src="../static/images/filter-icon.png" alt="icon-filter" class="icon-filter">
            </div>
        </div>

        <div class="content-container">
            <div class="text-content">
                <h1>Groupie Tracker</h1>
                <p>Track your favorite artist/band, their members, their creation date, their first album, where you can meet them, when you can attend their concerts and more !</p>
            </div>
            <div class="illustration">
                <img src="../static/images/illustration1.png" alt="illustration">
            </div>
            
        </div>

        <div class="grid-container">
            
            {{range .Artists}}
            <div class="square" onclick="expandSquare(this)">
                <div class="content-top">
                    <div class="circle">
                        <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}">
                    </div>
                    <div class="title">{{.Artist.Name}}</div>
                </div>
                <div class="more-info">
                    <p><span class="subtitle">Members:</span><br>{{range .Artist.Members}}<br>{{.}}, {{end}}</p>
                    <p><span class="subtitle">Creation Date:</span><br><br>{{.Artist.CreationDate}}</p>
                    <p><span class="subtitle">First Album:</span><br><br>{{.Artist.FirstAlbum}}</p>
                    <p><span class="subtitle">Locations:</span><br>{{range .Locations}}<br>{{.}}, {{end}}</p>
                    <p><span class="subtitle">Concert Dates:</span><br>{{range .Dates}}<br>{{.}}, {{end}}</p>
                </div>
            </div>
            {{end}}

        </div>
        <script src="../static/js/script.js"></script>
    </body>
</html>


    

