<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Groupie Tracker</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>

        <div class="search-container">
            <div class="search-box">
                <img src="../static/images/search-icon.png" alt="icon-search" class="icon-search">
                <input type="text" placeholder="Search here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search here'">
                <img src="../static/images/filter-icon.png" alt="icon-filter" class="icon-filter">
            </div>
        </div>

    </body>
</html>


    

